
# Created by https://www.toptal.com/developers/gitignore/api/react
# Edit at https://www.toptal.com/developers/gitignore?templates=react

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
node_modules1
bower_components
package-lock.json


*.sublime*
dist
psd
thumb
sketch

# End of https://www.toptal.com/developers/gitignore/api/react