:root {
    --primary: #ffffff;
    --secondary: #8899A6;
    --btnPrimary: #404040;
    --btnHover: #282828;
}

form input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    padding: 1em;
    margin-bottom: 1.25rem;
    font-size: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
    color: var(--primary);
}

.input-container.password {
    position: relative;
    z-index: 0;
}

.input-container.password i {
    position: absolute;
    top: 42px;
    right: 16px;
    z-index: 0;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 2rem;
    cursor: pointer;
    user-select: none;
    margin: 0 0 1.25rem 0;
}

.checkbox-container input:checked~.checkmark {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}

.checkmark {
    position: absolute;
    width: 24px;
    height: 24px;
    background: white;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    top: -4px;
    left: 0;
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkmark::after {
    display: block;
}

.checkbox-container .checkmark::after {
    border: solid white;
    border-width: 0 3px 3px 0;
    width: 5px;
    height: 10px;
    left: 8px;
    top: 4px;
    transform: rotate(45deg);
}

.signup-btn {
    display: block;
    width: 100%;
    background: var(--btnPrimary);
    color: white;
    font-weight: 700;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.signup-btn:hover {
    background: var(--btnHover);
    cursor: pointer;
}